body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url("background.jpg") no-repeat center fixed;
  background-size: 850px 600px;
  background-position: 52% 50%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.blinky{
  content: url(dancing.gif);
  height: 50px;
  
}

.moving{

}

.dropping{  
  content: url(billyjean.gif);
  height: 50px;
}

.moonwalk {
  content: url(moonwalk.gif);
  border-radius: 0;
  border: 0;
  height: 50px;
  width: 70px;

  transform: rotateY(180deg);
  transition: transform 125ms linear;
}

.moonwalk.rotated {
  transform: rotateY(0deg);
  transition: transform 125ms linear;
}

.thriller {
  content: url(dancing4.gif);
  height: 60px;
  /*transform: rotate(0deg);*/
  transition: transform 125ms linear;
}